
.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.customer-list-container {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.customer-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.customer-item:hover {
  background-color: #f5f5f5;
}
